.main {
  display: grid;
  grid-template-columns: [one] 100px [two] 100px [three] 100px [four] 100px [end];
  grid-template-rows: [one] 100px [two] 100px [three] 100px [four] 100px;
  text-align: center;
  color: white;
  gap: 10px;
  /* background-color: yellow; */
}

.item-one {
  background: linear-gradient(to bottom right, red, darkred);
  grid-column-start: one;
  grid-column-end: span 4;
  grid-row-start: one;
  grid-row-end: one;
  box-shadow: 2px 2px 3px black;
}

.item-two {
  background: linear-gradient(to bottom right, orange, orangered);
  grid-column-start: one;
  grid-column-end: span 2;
  grid-row-start: two;
  grid-row-end: span 2;
  box-shadow: 2px 2px 3px black;
}

.item-three {
  background: linear-gradient(to bottom right, green, darkgreen);
  grid-column-start: three;
  grid-column-end: span 2;
  grid-row-start: two;
  grid-row-end: span 1;
  box-shadow: 2px 2px 3px black;
}

.item-four {
  background: linear-gradient(to bottom right, blue, navy);
  grid-column-start: three;
  grid-column-end: span 1;
  grid-row-start: three;
  grid-row-end: span 1;
  box-shadow: 2px 2px 3px black;
}

.item-five {
  background: linear-gradient(to bottom right, violet, purple);
  grid-column-start: four;
  grid-column-end: span 1;
  grid-row-start: three;
  grid-row-end: span 1;
  box-shadow: 2px 2px 3px black;
}

.item-six {
  background: linear-gradient(to bottom right, brown, saddlebrown);
  grid-column-start: one;
  grid-column-end: span 4;
  grid-row-start: four;
  grid-row-end: span 2;
  box-shadow: 2px 2px 3px black;
}
